AppliedDataScienceWithPython/.ipynb_checkpoints/
AppliedDataScienceWithPython/1_IntroductionToDataScience/.ipynb_checkpoints/
AppliedDataScienceWithPython/2_AppliedPlottingChartingAndDataRepresentation/.ipynb_checkpoints/
AppliedDataScienceWithPython/3_AppliedMachineLearningInPython/.ipynb_checkpoints/
AppliedDataScienceWithPython/5_AppliedSocialNetworkAnalysisInPython/.ipynb_checkpoints/
